*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(images/sand-dunes-pink-5120x2880-21844.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.th1, .th2, .th3 {
    background-color: rgb(247, 227, 201);
}
nav{
    background-color:transparent;
    width: 100%;
    padding: 15px 30px;
    margin: 0 auto;
    font-size: 20px;
    border-radius: 8;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
}
nav a {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
}

nav a:hover {
    color:white; 
    transform: scale(1.1); 
}
nav a{
    display: block;
    text-align: center;
}
@media (max-width:1439px){
    nav{
        font-size: 16px;
        gap: 20px;
        padding: 10px;
    }
nav a{
    display: block;
    text-align: center;
    width: 100%;
}
}
a[href*="drive.google.com"] {
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    color: black;
    background-color:transparent;
    border: 2px;
    border-radius: 8px;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

a[href*="drive.google.com"]:hover {

    transform: scale(1.05);
}
a.tautan {
    display: inline-block;
    padding: 12px 24px;
    font-size: 18px;
    color: black;
    text-decoration: none;
    border-radius: 8px;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
}
a.tautan:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 12px rgba(0,0,0,0.2);
}
a.tautan:active {
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.2);
}
p{
    color: black;
    text-align: 50px 50px;
    max-width: 800px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 16px;
    margin-left: auto;
    font-size: 15px;
}